In [ ]:
import pandas as pd

In [ ]:
df_train = pd.read_csv('/content/drive/MyDrive/KDD_cup/orange_small_train.data', sep='\t')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df_train.shape

(50000, 230)

In [ ]:
df_train.head()

   Var1  Var2  Var3  Var4  Var5  ...  Var226   Var227         Var228  Var229  Var230
0   NaN   NaN   NaN   NaN   NaN  ...    xb3V     RAYp  F2FyR07IdsN7I     NaN     NaN
1   NaN   NaN   NaN   NaN   NaN  ...    fKCe     RAYp  F2FyR07IdsN7I     NaN     NaN
2   NaN   NaN   NaN   NaN   NaN  ...    Qu4f  02N6s8f  ib5G6X1eUxUn6    am7c     NaN
3   NaN   NaN   NaN   NaN   NaN  ...    FSa2     RAYp  F2FyR07IdsN7I     NaN     NaN
4   NaN   NaN   NaN   NaN   NaN  ...    FSa2     RAYp  F2FyR07IdsN7I    mj86     NaN

[5 rows x 230 columns]

In [ ]:
test = pd.read_table('/content/drive/MyDrive/KDD_cup/orange_small_test.data')
test.head()

   Var1  Var2  Var3  Var4  ...  Var227               Var228  Var229  Var230
0   NaN   NaN   NaN   NaN  ...    ZI9m     R4y5gQQWY8OodqDV     NaN     NaN
1   NaN   NaN   NaN   NaN  ...    RAYp        F2FyR07IdsN7I     NaN     NaN
2   NaN   NaN   NaN   NaN  ...    RAYp        F2FyR07IdsN7I     NaN     NaN
3   NaN   NaN   NaN   NaN  ...    RAYp  TCU50_Yjmm6GIBZ0lL_    am7c     NaN
4   NaN   NaN   NaN   NaN  ...    ZI9m           iyHGyLCEkQ    am7c     NaN

[5 rows x 230 columns]

In [ ]:
appetency =pd.read_table('/content/drive/MyDrive/KDD_cup/orange_small_train_appetency.labels',header = None).loc[:, 0].astype('category')
appetency.head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: 0, dtype: category
Categories (2, int64): [-1, 1]

In [ ]:
upselling= pd.read_table('/content/drive/MyDrive/KDD_cup/orange_small_train_upselling.labels', header = None).loc[:, 0].astype('category')
upselling.head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: 0, dtype: category
Categories (2, int64): [-1, 1]

In [ ]:
churn = pd.read_table('/content/drive/MyDrive/KDD_cup/orange_small_train_churn.labels', header = None).loc[:, 0].astype('category')
churn.head()

0   -1
1    1
2   -1
3   -1
4   -1
Name: 0, dtype: category
Categories (2, int64): [-1, 1]

### Preprocessing

In [ ]:
from IPython.display import display, HTML

def pretty_print(df):
    return display( HTML( df.to_html().replace("\\n","<br>") ) )
def tbl_report(tbl, cols=None, card=10):
    print("Table Shape", tbl.shape)
    dtypes = tbl.dtypes
    nulls = []
    uniques = []
    numuniques = []
    vcs = []
    for col in dtypes.index:
        n = tbl[col].isnull().sum()
        nulls.append(n)
        strdtcol = str(dtypes[col])
        #if strdtcol == 'object' or strdtcol[0:3] == 'int' or strdtcol[0:3] == 'int':
        #print(strdtcol)
        uniqs = tbl[col].unique()
        uniquenums = uniqs.shape[0]
        if uniquenums < card: # low cardinality
            valcounts = pd.value_counts(tbl[col], dropna=False)
            vc = "\n".join(["{}:{}".format(k,v) for k, v in valcounts.items()])
        else:
            vc='HC' # high cardinality
        uniques.append(uniqs)
        numuniques.append(uniquenums)
        vcs.append(vc)
    nullseries = pd.Series(nulls, index=dtypes.index)
    uniqueseries = pd.Series(uniques, index=dtypes.index)
    numuniqueseries = pd.Series(numuniques, index=dtypes.index)
    vcseries = pd.Series(vcs, index=dtypes.index)
    df = pd.concat([dtypes, nullseries, uniqueseries, numuniqueseries, vcseries], axis=1)
    df.columns = ['dtype', 'nulls', 'uniques', 'num_uniques', 'value_counts']
    if cols:
        return pretty_print(df[cols])
    return pretty_print(df)

In [ ]:
# This returns Dataframe instead of printing

from IPython.display import display, HTML

def pretty_print(df):
    return display( HTML( df.to_html().replace("\\n","<br>") ) )
def tbl_report(tbl, cols=None, card=10):
    print("Table Shape", tbl.shape)
    dtypes = tbl.dtypes
    nulls = []
    uniques = []
    numuniques = []
    vcs = []
    for col in dtypes.index:
        n = tbl[col].isnull().sum()
        nulls.append(n)
        strdtcol = str(dtypes[col])
        #if strdtcol == 'object' or strdtcol[0:3] == 'int' or strdtcol[0:3] == 'int':
        #print(strdtcol)
        uniqs = tbl[col].unique()
        uniquenums = uniqs.shape[0]
        if uniquenums < card: # low cardinality
            valcounts = pd.value_counts(tbl[col], dropna=False)
            vc = "\n".join(["{}:{}".format(k,v) for k, v in valcounts.items()])
        else:
            vc='HC' # high cardinality
        uniques.append(uniqs)
        numuniques.append(uniquenums)
        vcs.append(vc)
    nullseries = pd.Series(nulls, index=dtypes.index)
    uniqueseries = pd.Series(uniques, index=dtypes.index)
    numuniqueseries = pd.Series(numuniques, index=dtypes.index)
    vcseries = pd.Series(vcs, index=dtypes.index)
    df = pd.concat([dtypes, nullseries, uniqueseries, numuniqueseries, vcseries], axis=1)
    df.columns = ['dtype', 'nulls', 'uniques', 'num_uniques', 'value_counts']
    if cols:
        return (df[cols])
    return (df)

In [ ]:
df_train.head()

   Var1  Var2  Var3  Var4  Var5  ...  Var226   Var227         Var228  Var229  Var230
0   NaN   NaN   NaN   NaN   NaN  ...    xb3V     RAYp  F2FyR07IdsN7I     NaN     NaN
1   NaN   NaN   NaN   NaN   NaN  ...    fKCe     RAYp  F2FyR07IdsN7I     NaN     NaN
2   NaN   NaN   NaN   NaN   NaN  ...    Qu4f  02N6s8f  ib5G6X1eUxUn6    am7c     NaN
3   NaN   NaN   NaN   NaN   NaN  ...    FSa2     RAYp  F2FyR07IdsN7I     NaN     NaN
4   NaN   NaN   NaN   NaN   NaN  ...    FSa2     RAYp  F2FyR07IdsN7I    mj86     NaN

[5 rows x 230 columns]

In [ ]:
tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts'])

Table Shape (50000, 230)

In [ ]:
df_table = tbl_report(df_train, cols=['dtype', 'nulls', 'num_uniques', 'value_counts']) # Using the second tbl_report function


df_table['dtype'].value_counts()

Table Shape (50000, 230)

float64    191
object      38
int64        1
Name: dtype, dtype: int64

In [ ]:
df_float = df_table[df_table['dtype']== 'float64']
df_float.shape

(191, 4)

In [ ]:
df_float[df_float['nulls'] > 45000 ].shape # we have 18 columns (type:float) that have more 90% nulls

(18, 4)

In [ ]:
df_object = df_table[df_table['dtype']== 'object']

df_object[df_object['nulls'] > 45000 ].shape # we have 4 columns (type:object)  that have more 90% nulls

(4, 4)

In [ ]:
df_table_2 = df_table.reset_index()
df_table_2.head()

  index    dtype  ...  num_uniques                                 value_counts
0  Var1  float64  ...           19                                           HC
1  Var2  float64  ...            3                   nan:48759\n0.0:1240\n5.0:1
2  Var3  float64  ...          147                                           HC
3  Var4  float64  ...            5  nan:48421\n0.0:1561\n9.0:15\n18.0:2\n27.0:1
4  Var5  float64  ...          572                                           HC

[5 rows x 5 columns]

In [ ]:
all_nan_vars = [] # finding all colums with only Nan values
for index, row in df_table_2.iterrows():
  if row['nulls'] == 50000:
    all_nan_vars.append(row['index'])

In [ ]:
len(all_nan_vars) # Total no of nan columns

18

In [ ]:
lst_empty_vars = []
for index, row in df_table_2.iterrows():
  if row['nulls'] > 47500:
    lst_empty_vars.append(row['index'])

In [ ]:
len(lst_empty_vars) # colums with more than 95% nan values

153

In [ ]:
df_train_non_empty = df_train.drop(lst_empty_vars,axis=1)

In [ ]:
df_train_non_empty.head()

     Var6  Var7   Var13   Var21  ...  Var226   Var227         Var228  Var229
0  1526.0   7.0   184.0   464.0  ...    xb3V     RAYp  F2FyR07IdsN7I     NaN
1   525.0   0.0     0.0   168.0  ...    fKCe     RAYp  F2FyR07IdsN7I     NaN
2  5236.0   7.0   904.0  1212.0  ...    Qu4f  02N6s8f  ib5G6X1eUxUn6    am7c
3     NaN   0.0     0.0     NaN  ...    FSa2     RAYp  F2FyR07IdsN7I     NaN
4  1029.0   7.0  3216.0    64.0  ...    FSa2     RAYp  F2FyR07IdsN7I    mj86

[5 rows x 77 columns]

In [ ]:
df_train_non_empty = df_train_non_empty.fillna(df_train_non_empty.mean())

In [ ]:
df_train_non_empty.head()

          Var6  Var7   Var13        Var21  ...  Var226   Var227         Var228  Var229
0  1526.000000   7.0   184.0   464.000000  ...    xb3V     RAYp  F2FyR07IdsN7I     NaN
1   525.000000   0.0     0.0   168.000000  ...    fKCe     RAYp  F2FyR07IdsN7I     NaN
2  5236.000000   7.0   904.0  1212.000000  ...    Qu4f  02N6s8f  ib5G6X1eUxUn6    am7c
3  1326.437116   0.0     0.0   234.518225  ...    FSa2     RAYp  F2FyR07IdsN7I     NaN
4  1029.000000   7.0  3216.0    64.000000  ...    FSa2     RAYp  F2FyR07IdsN7I    mj86

[5 rows x 77 columns]

In [ ]:
df_train_non_empty.head()

          Var6  Var7   Var13        Var21  ...  Var226   Var227         Var228  Var229
0  1526.000000   7.0   184.0   464.000000  ...    xb3V     RAYp  F2FyR07IdsN7I     NaN
1   525.000000   0.0     0.0   168.000000  ...    fKCe     RAYp  F2FyR07IdsN7I     NaN
2  5236.000000   7.0   904.0  1212.000000  ...    Qu4f  02N6s8f  ib5G6X1eUxUn6    am7c
3  1326.437116   0.0     0.0   234.518225  ...    FSa2     RAYp  F2FyR07IdsN7I     NaN
4  1029.000000   7.0  3216.0    64.000000  ...    FSa2     RAYp  F2FyR07IdsN7I    mj86

[5 rows x 77 columns]

In [ ]:
df_train_non_empty['Var228'].dtype

dtype('O')

In [ ]:
droplist = []

for col in df_train_non_empty.columns :
  if df_train_non_empty[col].dtype == 'O':
    droplist.append(col)

In [ ]:
df_train_non_empty_cat = df_train_non_empty.drop(droplist,axis=1) # remving categorical variables

In [ ]:
#Replacing NAN values by mean
df = df_train_non_empty_cat.fillna(df_train_non_empty_cat.mean())

In [ ]:
len(df.columns)

43

In [ ]:
appetency = (appetency.astype('int') + 1)/2
churn = (churn.astype('int') + 1)/2
upselling = (upselling.astype('int') + 1)/2

In [ ]:
appetency

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
49995    1.0
49996    1.0
49997    0.0
49998    0.0
49999    0.0
Name: 0, Length: 50000, dtype: float64

In [ ]:
import numpy as np

In [ ]:
np.mean(appetency == 1) , np.mean(churn == 1) , np.mean(upselling == 1)

(0.0178, 0.07344, 0.07364)

**All customers churn, we send everyone**

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
def cv_optimize(clf, parameters, X, y, n_jobs=1, n_folds=5, score_func=None):
    if score_func:
        print("SCORE FUNC", score_func)
        gs = GridSearchCV(clf, param_grid=parameters, cv=n_folds, n_jobs=n_jobs, scoring=score_func)
    else:
        gs = GridSearchCV(clf, param_grid=parameters, n_jobs=n_jobs, cv=n_folds)
    gs.fit(X, y)
    print("BEST", gs.best_params_, gs.best_score_)
    best = gs.best_estimator_
    return best
def do_classify(clf, parameters, indf, 
                featurenames, 
                score_func, n_folds=5, n_jobs=1):
  # x test and ytest
    Xtrain= df
    ytrain= churn
    # if not mask:
    #     print("using reuse split")
    #     Xtrain, Xtest, ytrain, ytest = reuse_split['Xtrain'][featurenames], reuse_split['Xtest'][featurenames], reuse_split['ytrain'], reuse_split['ytest']
    # else: # mask is to be used
    #     print("using mask")
    #     Xtrain, Xtest, ytrain, ytest = X[reuse_split], X[~reuse_split], y[reuse_split], y[~reuse_split]
    if parameters:
        clf = cv_optimize(clf, parameters, Xtrain, ytrain, n_jobs=n_jobs, n_folds=n_folds, score_func=score_func)
    clf=clf.fit(Xtrain, ytrain)
    training_accuracy = clf.score(Xtrain, ytrain)
    # test_accuracy = clf.score(Xtest, ytest)
    print("############# based on standard predict 0.5 ################")
    print("Accuracy on training data: %0.2f" % (training_accuracy))
    # print("Accuracy on test data:     %0.2f" % (test_accuracy))
    # print(confusion_matrix(ytest, clf.predict(Xtest)))
    # print("########################################################")
    # return clf, dict(Xtrain=Xtrain, ytrain=ytrain, Xtest=Xtest, ytest=ytest)

In [ ]:
pure_cat_vars = []
cont_vars = df.columns

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
# set up standardization
ss = StandardScaler()
# oe hot encoding
oh = OneHotEncoder()
# continuous variables need to be standardized
cont_pipe = Pipeline([("scale", ss)])
# categorical variables need to be one hot encoded
cat_pipe = Pipeline([('onehot', oh)])
# combine both into a transformer
transformers = [('cont', cont_pipe, cont_vars)]
# apply transformer to relevant columns. Nothing will be done for the rest
ct = ColumnTransformer(transformers=transformers, remainder="passthrough")
# create a pipeline so that we are not leaking data from validation to train in the individual folds
pipe = Pipeline(steps=[('ct', ct), ('model', LogisticRegression(max_iter=10000, penalty='l2'))])
# in paramgrid we dont use C but use model__C corresponding to the name in the pipeline
paramgrid = dict(model__C=[1000, 100, 10, 1, 0.1, 0.01, 0.001])

In [ ]:
from sklearn.metrics import roc_auc_score
do_classify(pipe, paramgrid, df, 
                              cont_vars, 
                              score_func='roc_auc')

SCORE FUNC roc_auc
BEST {'model__C': 1} 0.6455963945396483
############# based on standard predict 0.5 ################
Accuracy on training data: 0.93

In [ ]:
do_classify(clf, parameters, indf, 
                featurenames, targetname, target1val, 
                reuse_split, mask=False, 
                score_func=None, n_folds=5, n_jobs=1)

In [ ]:
# Table report after dropping columns and filling na with 0
tbl_report(df, cols=['dtype', 'nulls', 'num_uniques', 'value_counts'])

Table Shape (50000, 43)

In [ ]:


#Changing labels to 0 or 1
appetency = (appetency.astype('int') + 1)/2
churn = (churn.astype('int') + 1)/2
upselling = (upselling.astype('int') + 1)/2

In [ ]:
appetency.mean() , churn.mean(), upselling.mean() # Imbalanced data